table 
{
    width: 100%;
}
.mat-header-cell, .mat-cell 
{
   text-align: center;
}
.jobid:hover
{
    text-decoration: underline;
    color:dodgerblue;
    cursor: pointer;
}
mat-icon
{
    color: tomato !important;
}