.card {
    flex: 1 1 auto;
  }

.cardscontainer
{
  display: flex;
  gap: 10px;
}

@media (max-width: 900px) 
{
    .cardscontainer {
      flex-direction: column;
      gap: 10px;
    }
}
.chartcontainer
{
  display: flex;
  float: 1 1 auto;
  justify-content: center;
}

table{
  width: 100%;
}